{{outlet}}
<h2>About Super Rentals</h2>

<p>The Super Rentals website is a delightful project created to explore Ember.
By building a property rental site, we can simultaneously imagine traveling
AND building Ember applications.</p>

<ul>
  <li>{{#link-to "contact" class="contact-link"}}Click here to contact us{{/link-to}}</li>
  <li>{{#link-to "index"  class="home-link"}}Home{{/link-to}}</li>
</ul>